<%= link_to 'Login', oauth_path %>
<br><br>

<div>
    ENV['access_token']: <%= ENV['access_token'] %>
</div>
<br>

<%= link_to 'GET  /facility/{id}  (id=1)', getfacility_path %>
<br>
<%= link_to 'GET  /info ', getperson_path %>
