<div class="container">
  <div class="jumbotron">
    <h2><i class="fa fa-book"></i> 使用說明</h2>
    <!-- <p>使用前請詳閱使用說明，如有問題可以來信通知管理員。</p> -->
    <p>
      教室借用目前僅提供
      <mark>I202</mark>,<mark>I002</mark>教室,及<mark>I210</mark>會議室借用<br>
      借用區分為<mark>每週定期上課</mark>或<mark>臨時上課申請兩種</mark><br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>一般借用流程：</h3>
      <ol id="iwantrent">
        <li>
          請先到
          <%= link_to icon('calendar-o','借用狀態'), pages_status_path , :class => "btn btn-info btn-sm"%>
          確認欲借用的時段無人預約。
        </li>
        <li>
          再到
          <%= link_to icon('paper-plane','立即預約'), rents_path , :class => "btn btn-success btn-sm"%>
          點選預約，填妥您欲借用的時段，並確認後可點選<mark>列印申請單</mark>。
        </li>
        <li>將申請單送繳電算中心辦公室<mark>交給戴先生</mark>，待中心確認無誤後，才會將該借用課程核可。</li>
        <li>
          核可後，借用者可至
          <%= link_to icon('search','查詢預約'), search_path , :class => "btn btn-danger btn-sm"%>
          查詢是否核可。
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>關於付費借用：</h3>
      <ul>
        <li>校外單位（人）借用本場地，於使用前向本校出納組一次繳清（現金）。</li>
        <li>校內各單位借用本場地，除經校方核准與行政業務相關之免費研習活動及各學制必(選)修課程得免收取場地使用費外，其他活動之場地借用，應依收費表標準八折收費。</li>
        <li>申請單 <a href="http://www.cc.ncu.edu.tw/form/borrow2.pdf">http://www.cc.ncu.edu.tw/form/borrow2.pdf</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>相關規定：</h3>
      <ul>
        <li>教室申請管理辦法 <a href="http://www.cc.ncu.edu.tw/general/classrule/">http://www.cc.ncu.edu.tw/general/classrule/</a></li>
        <li>目前暫不開放I-012會議室借用。</li>
      </ul>
    </div>
  </div>
</div>
