<footer>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &copy;copyright 2016 國立中央大學 電子計算機中心 NCU Computer Center. All rights reserved.
            </div>
        </div>
    </div>
</div>
</footer>
